<p>Xin chào {{fullName}},</p>
<p>Cảm ơn bạn đã tham gia hệ thống Dutalk.</p>
<p>
  Mã xác nhận của bạn là:
  <b>{{otp}}</b>
  {{!-- <a target='_blank' rel='nofollow' href='{{url}}' data-saferedirecturl='{{dataRedirect}}'>Confirm</a> --}}
</p>

<p>Mã có hiệu lực <b>5 phút.</b></p>